@import "tailwindcss";

@theme {
  --color-brand-primary: #111827;
  --color-brand-secondary: #4B5563;
  --color-bg-main: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-border: #E5E7EB;
}

body {
  background-color: var(--color-bg-main);
  color: #111827;
  font-family: 'Inter', sans-serif;
}